language: python

python:
#    - '2.7'
#    - '3.3'
    - '3.4'
#    - '3.5'

# whitelist
branches:
    only:
        - master

before_script:
  - wget http://tree.bio.ed.ac.uk/download.php?id=85
  - tar -xvfz Seq-Gen.v1.3.3.tgz

script:
    py.test --cov=pandascharm.py --pep8

after_success:
  - codecov
