language: python

python:
    - '3.4'
    - '3.6'

# whitelist
branches:
    only:
        - master

before_install:
    - sudo apt-get update
    - sudo apt-get install -y seq-gen

install:
    - pip install .
    - pip install pycodestyle
    - pip install pytest
    - pip install coverage
    - pip install codecov
   
script:
    - pycodestyle setup.py test_predsim.py predsim.py 
    - coverage run -m pytest test_predsim.py
    - coverage report -m predsim.py

after_success:
    - codecov
